*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    

}

/* shared styles */


.btn1 {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
}
.btn1:hover {
    background-color: gray;
}



/* main styles */

nav {
    display: flex;
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.menu li:hover a{
    color: #30B868;
}
nav ul a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.bannar {
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 115px 0 180px;
    background-size: cover;
    background-position: center;

}
.container {
    width: 80%;
    max-width: 1360px;
    margin: auto;
    /* border: 1px solid red; */
}
.bannar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bannar-content .top-text {
    background-color: #FFFFFF;
    color: #30B868;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 1000px;
    display: flex;
    gap: 5px;
    align-items: center;
    
}
.before{
    background: #30B868;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    box-shadow: 0 0 0 2px #79eeaa6c;
}
.bannar-content .first{
    background: #9feec0;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    box-shadow: 0 0 0 2px #b0c5b56c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannar-content h1 {
    font-size: 72px;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    text-align: center;
    text-transform: capitalize;
}
.bannar-content h1 span {
    color: #30B868;
    
}
.bannar-description {
    margin-top: 16px;
    line-height: 35px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}
.bannar-btn{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.button{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
}
#btn1:hover {
    background: rgba(255, 0, 0, 0);
    border: 1px solid #FFFFFF;
}
.bannar-btn #btn2 {
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #FFFFFF;
}
#btn2:hover {
    background: #FFFFFF;
    color: #000000;
}
.card-info{
    max-width: 1360px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.card-info h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-top: 50px;
}
.card-info p {
    margin-top: 16px;
    color: #627382;
    line-height: 20px;
}
.card-section{
    max-width: 1360px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.card{
    width: 322px;
    height: 300px;
    box-shadow: 0 0 8px 0 #00000023;
    text-align: center;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 24px;
    border-radius: 5px;
    
}
.card-img {
    background: #F95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-top: 15px;
}
.card p {
    margin-top: 20px;
    line-height: 20px;
    
    color: #627382;
}

.second-brain{
    margin: 60px;
    padding: 60px;
    
}
.brain-container{
    display: flex;
    gap: 60px; 
}
.brain-info{
    padding-left: 150px;
    width: 700px;
}
.brain-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.brain-right .first-text {
    font-size: 16px;
    color: #30B868;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 100px; 
}

.brain-right .second-text {
    line-height: 20px;
    color: #627382;
}

.brain-right h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
    
}

.brain-right-bottom {
    display: flex;
    margin-top: 40px;
    gap: 5px;
}
.brain-right-bottom ul li {
    list-style: none;
    display: flex;
    gap: 8px;
}
.brain-right-bottom span {
    color: #001931;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
}


ul li img {
    padding: 5px;
}


.brain-img{
    height: 600px;
    width: 500px;
    padding-right: 60px;
}







